:root {
    --background-base: #121212;
    --background-highlight: #1f1f1f;
    --background-press: #000;
    --background-elevated-base: #1f1f1f;
    --background-elevated-highlight: #2a2a2a;
    --background-elevated-press: #191919;
    --background-tinted-base: hsla(0, 0%, 100%, .1);
    --background-tinted-highlight: hsla(0, 0%, 100%, .14);
    --background-tinted-press: hsla(0, 0%, 100%, .05);
    --text-base: #fff;
    --text-subdued: #b3b3b3;
    --text-bright-accent: #1ed760;
    --text-negative: #f3727f;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #4cb3ff;
    --essential-base: #fff;
    --essential-subdued: #7c7c7c;
    --essential-bright-accent: #1ed760;
    --essential-negative: #ed2c3f;
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-announcement: #4cb3ff;
    --decorative-base: #fff;
    --decorative-subdued: #292929;
    
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    color: var(--decorative-base);
    
}
body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color:var(--background-press);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}


.backgroundcolor_class{
   border-radius: 10px;
}
.main_container{
    display: flex;
 }

a{
    text-decoration: none;
}
ul li{
    list-style: none;
}

.left_1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color: #121212;
    border:none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: .4rem .4rem 0rem .4rem;
    padding: 1rem;
    border-radius: 10px;
}
.logo_2 ul a {
   display: flex;
   gap:1rem;
   margin:0 .8rem;
}

.left_2{
    width: 100%;
   
    border: none;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    gap:2rem;
    margin: 0.5rem;
   padding: 1rem;
    border-radius: 10px;
}
.logo_1 i{
  color: var(--essential-bright-accent);
  margin: .8rem;
  font-size: 25px;
}
 
.left_container{
   
    display: flex;
    flex-direction: column;
    width:23%;
    height: 100%;
   position: fixed;
    top:0;
    left: 0;
   
   
 } 

 .content_1{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: sans-serif;
    align-items: center;
    /* padding: 1rem; */
}

    /* width: 100%; */
 
   .library_logo a{
    display: flex;
     gap:1rem;
     font-size: 1rem;
     font-family: sans-serif;
     margin: 0 .8rem;
     color: var(--text-base);
    
    }
 


.content_3 ul{
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
}

.p_1{
    background-color: #1f1f1f;
    width: 100%;
    /* height: auto; */
   border:none;
   line-height: 1rem;
   /* padding: .5rem; */
   border-radius: 10px;
   text-wrap: wrap;
  
}
.p_2{
    background-color: #1f1f1f;
    width: 100%;
    /* height: auto; */
    border:none;
    line-height: 1.5rem;
    /* padding: .5rem; */
    border-radius: 10px;
    text-wrap: wrap;
}
.para_1{
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: .8rem;

}
.para_2{
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: .8rem;
}
.para2, .para3{
    margin: .8rem;
}

.content_2{
    display: flex;
    flex-direction: column;
    gap:1rem;
    height:20rem;
    overflow-y: hidden;
    overflow-x: hidden;
}
.content_2:hover{
 overflow-y: scroll;
}



.btn_playlist button[type="button"]{
   color: var(--background-press);
   background-color: var(--essential-base);
   padding:.4rem;
  font-size:1.1rem;
  border-radius: 20px;
  margin: .8rem;
   
 }

 
 
 .content_4 a{
 
  border: 1px solid white;
  background-color: var(--background-press);
  padding: .5rem; 
 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  border-radius: 20px;
 }
 

 .right_container{
    width:75.9%;
    /* margin: 0rem 0.9rem ; */
    box-sizing: border-box;
   position: absolute;
   right: 0;
   background-image: linear-gradient(var(--background-elevated-highlight) 2%, var(--background-elevated-press)10%,var(--background-base)80%);
   float:right;
     overflow-x:hidden;
     height:100vh;
 }


 .header_1{
  width: 100%;
  height:4.6rem;
 background-color: var(--background-base);
 display: flex;
 justify-content: space-between;
 align-items: center;
position: sticky;
    top: 0rem;
    right: 0;
    z-index: 100;

 
 }

 .scroll_icon{
    display: flex;
   margin-left: 2rem;
   gap:1.2rem;
   float:left;
 }
 
 .right_content{
    display: flex;
    margin-right: 1rem;
    gap:1.5rem;
    float:right;
 }

 .nav_icon i{
    background-color: var(--background-press);
    border: none;
    border-radius: 50%;
    padding: .6rem;
}
 
 .sing_up button[type="button"]{
    background-color: var(--background-press);
    border: none;
    border-radius: 20px;
    padding: .4rem;
    font-size: 1.2rem;
    margin-top: .5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border: 1px solid white;
 }

 
 
 .login button[type="button"]{
   background-color: var(--decorative-base);
   border:none;
   color: var(--background-press);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
   border-radius: 25px;
   /* font-size: .5rem; */
   margin-right: 2rem;
 }
 .popular_artists{
    margin-top: 3.5rem;
 }

 .image_desc{
    width: 100%;
    /* height: 6rem; */
   /* background-color: var(--background-elevated-highlight); */
   border:none;
   display: flex;
   justify-content: space-between;
   align-items: end;
   padding:0rem 1rem 1rem 1rem;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .artist_para{
    font-size: 1.6em;
 }
.images img{
    width:9rem;
    height: 9rem;
    border-radius: 50%;

}
 .images{
  width:10rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:.2rem;
  padding-top: .5rem;
  position: relative;

 }

 .artist_images{
    display: flex;
    justify-content: space-evenly;
   flex-wrap: wrap;
 }

 .images_1{
    width:10rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.2rem;
    padding-top: .5rem;
    position: relative;
    
   }
 .images_1 img{
    width:9rem;
    height: 9rem;
    border-radius: .5rem;
   
 }

 
 .images:hover{
 border-radius: 5px;
 border:none;
 cursor: pointer;
 transition-duration: 0.2s;
 background-color:var(--background-elevated-highlight);
 
 }
 .images_1:hover{
    border-radius: 5px;
    border:none;
    cursor: pointer;
    transition-duration: 0.2s;
    background-color:var(--background-elevated-highlight);
 }

 .footer_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
   padding: 1rem .5rem;
   margin:2rem 0rem;
   flex-wrap: wrap;
 }

 .list:hover {
   text-decoration: underline;
 }

 .list ul{
    display: flex;
    flex-direction: column;
    gap:.5rem;
 }

 .logos{
    display: flex;
    gap:2rem;
    width: 100%;
 }

 #highlight{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
 }

 .icon{
    background-color: var(--background-elevated-base);
    padding: .5rem .8rem;
    font-size: 1.3rem;
    border-radius: 50%;
 }

 .copyright{
    display: flex;
    gap:.2rem;
    margin: 3rem 3rem 5rem 3rem;
    width: 100%;
 }

 .play_btn {
   background-color: var(--essential-positive);
   font-size: 20px;
   width: 2.9rem;
   padding: .6rem;
   height: 3rem;
   text-align: center;
   border-radius: 50%;
  position: absolute;
  bottom:100px;
  right: 20px;
  display: none;
 }

 .play_btn i{
  color: var(--background-press);
 
 }

 .images:hover .play_btn{
  display: block;
  
 } 

 .images_1:hover .play_btn{
   display: block;
   
  } 
 
 .icon:hover{
   background-color: rgba(214, 202, 202, 0.525)
 }

/* using media query */

@media screen and (max-width: 600px) {
   /* CSS rules here will apply when the screen width is 768px or less */
   .left_container{
     display: none;
   }

   .right_container{
      width:100%;
   }
   .header_1{
      width:100%;
      
   }
 }
 @media screen  and (max-width:400px){
/*     .login button{
      font-size: 10px;
   } */
   .footer_container{
      gap:15px;
  }
  .sing_up button[type="button"]{
   font-size: 10px;
   text-wrap: nowrap;
  }
  .login button[type="button"]{
   font-size: 10px;
   text-wrap: nowrap;
   float: right;
   
  }
  .scroll_icon{
   float: left;
   gap:3px;
  }
 }
     
 
